		<div class="CajaInicio animated wobble">
			<form style="padding-top: 10%" class="form-horizontal" name="formLogin" method="post" action="">

				
					<!-- <label class="control-label col-sm-2">Usuario</label> -->
					<!-- <div class="form-group col-sm-10"> -->
						<input type="text" name="nombre" ng-model="nombre" required autofocus="autofocus" placeholder="Usuario">
					<!-- </div> -->


					<!-- <label class="control-label col-sm-2">Contraseña</label> -->
					<!-- <div class="form-group col-sm-10"> -->
						<input type="password" name="pass" ng-model="pass" required placeholder="Contraseña">
					<!-- </div> -->


					<div style="padding-left: 20%;padding-top: 1%;" class="col-xs-6 col-sm-3">
						<button type="submit" class="btn btn-success btn-lg" name="enviar" value="enviar" ng-click="logear()">Ingresar</button>
						<!-- <button class="btn btn-danger btn-lg" name="registrar" value="registrar">Registrarse</button> -->
						<a class="btn btn-primary animated  btn-lg" >Registrarse</a>
					</div>
			</form>
		</div>