<div class="container">
	<div class="page-header">
		<center> <h1>Datos {{DatoTest}}</h1>   </center>     
	</div>
	<div class="CajaInicio animated bounceInRight">
		<h1> <!--?php echo $titulo; ?-->titulo </h1>

		<form id="FormIngreso"  enctype="multipart/form-data" >
			<input type="text" name="apellido" ng-model="persona.apellido" placeholder="ingrese apellido" value="" />
			<span id="lblApellido" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*
			</span>
			<input type="text" name="nombre" ng-model="persona.nombre" placeholder="ingrese nombre" value="" /> <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
			<input type="text" name="dni" ng-model="persona.dni" placeholder="ingrese dni" value=""     /> 
			<span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
				

			<img  ng-src="fotos/{{persona.foto}}" class="fotoform" id="foto"/>
			<p style="  color: black;">*La foto se actualiza al guardar.</p>


			<a class="btn btn-info " name="guardar" ng-click="Guardar()" ><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</a>
					
			<input type="hidden" value="" id="idParaModificar" name="agregar" />
			<input type="hidden" value="" id="hdnAgregar" name="agregar" />
			</div>

		</form>
	</div>
</div>